
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden; /* 画面を超える部分を隠す */
  position: fixed; /* スクロールを無効にする */
}

.App {
text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: lightskyblue
  
}


.inputText {
  padding: 10px;
  background-color:rgb(179, 226, 255);
  border: 2px solid rgb(22, 109, 163); /* 縁を追加 */
}

.submitButton {
  padding: 8px 15px;
  cursor: pointer;
  background-color:rgb(34, 165, 247);
  border: 2px solid rgb(22, 109, 163); /* 縁を追加 */
}

.todoList li {
  width: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoList li input {
  padding: 7px;
}

.resetButton{
  background-color:rgb(34, 165, 247);
  border: 2px solid rgb(22, 109, 163); /* 縁を追加 */
}

.top-left{
  position:absolute;
  top:0;
  left: 0;
  transform: translate(-50%, -50%);
}
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

@keyframes left-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.left-rotate {
  animation: left-rotate 5s linear infinite;
  transform-origin: center; /* 画像の中心を回転の基点に設定 */
}

@keyframes right-rotate {
  from {
    transform: translate(50%, 50%) rotate(0deg);
  }
  to {
    transform: translate(50%, 50%) rotate(360deg);
  }
}

.right-rotate {
  animation: right-rotate 5s linear infinite;
  transform-origin: center; /* 画像の中心を回転の基点に設定 */
}
